<div class="modal-header">
    <h4 class="modal-title">Individual profile preview</h4>
</div>

<div class="wrapper-md">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading bg-info dk">
              <div class="clearfix">
                <a href class="pull-left thumb-md b-3x m-r">
                  <img src="img/a2.jpg" alt="..." class="b b-3x b-white r r-3x">
                </a>
                <div class="clear">
                  <div class="h4 m-t-xs m-b-xs text-white">
                    John Smith
                  </div>
                  <small class="text-white">@JohnSmith
                  <i class="fa fa-twitter text-white pull-right text-xs"></i>
                  </small>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <p>Developer and Platform Relations @Twitter. We are developer advocates. We can't answer all your questions, but we listen to all of them!</p>
            </div>
            <div class="padder-v b-t b-light bg-light lter row text-center no-gutter">
              <div class="col-xs-4">
                <div>Tweets</div>
                <div class="inline m-t-sm">
                    <div>
                      <span class="font-bold">30k</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div>Followers</div>
                <div class="inline m-t-sm">
                    <div>
                      <span class="font-bold">50k</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div>Following</div>
                <div class="inline m-t-sm">
                    <div>
                      <span class="font-bold">20k</span>
                    </div>
                </div>
              </div>
            </div>
            <div class="list-group no-radius alt">
              <a class="list-group-item" href>
                <i class="fa fa-globe fa-fw text-muted m-r-sm"></i> 
                Los Angeles, CA
              </a>
              <a class="list-group-item" href>
                <i class="fa fa-link fa-fw text-muted m-r-sm"></i> 
                Twitter.com/about
              </a>
              <a class="list-group-item" href>
              <i class="glyphicon glyphicon-transfer fa-fw text-muted m-r-sm"></i> 
                You don't follow each other
              </a>
            </div>
          </div>          
        </div><!-- /.col-lg-6-->
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-globe m-r"></i> Handler Data
            </div>
            <ul class="list-group no-radius">
              <li class="list-group-item">
                <span class="pull-right">Jan 01, 2016</span>
                Joined Handler on
              </li>
              <li class="list-group-item">
                <span class="pull-right">@amazinghandlerusers</span>
                Invited by
              </li>
              <li class="list-group-item">
                <span class="pull-right">Handler for iOS</span>
                Platform
              </li>
              <li class="list-group-item">
                <span class="pull-right">23,200</span>
                Total emails sent
              </li>
              <li class="list-group-item">
                <span class="pull-right">Jan 01, 2016</span>
                Last emails sent
              </li>
              <li class="list-group-item">
                <span class="pull-right">23,200</span>
                Total emails received
              </li>
              <li class="list-group-item">
                <span class="pull-right">Jan 01, 2016</span>
                Last emails received
              </li>
              <li class="list-group-item">
                <span class="pull-right">0</span>
                Spam reports received
              </li>
            </ul>
          </div>
        </div><!-- /.col-lg-6-->
      </div><!-- /.row-->
    </div><!-- /.col-lg-12-->
  </div><!-- /.row-->
</div><!-- /.wrappper-->

<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="ok()" ui-sref="app.individual"><i class="fa fa-file-text-o fa-fw"></i> Detailed profile</button>
</div>
